<?xml version="1.0" encoding="UTF-8" ?>
<builda>
    <sources>
        <remote name="sapphire">
            <url>https://github.com/silverstripe/sapphire/tarball/2.4.5</url>
            <type>tar.gz</type>
        </remote>
        <remote name="cms">
          <url>https://github.com/silverstripe/silverstripe-cms/zipball/2.4.5</url>
         <type>zip</type>
        </remote>
    </sources>
</builda>