<?xml version="1.0" encoding="UTF-8" ?>
<builda>
    <local>
        <workingcopy location="current" />
    <local>
    <remotes>
        <remote
            name="sapphire"
            url="https://github.com/silverstripe/sapphire/tarball/2.4.5"
            type="tar.gz"
        />
        <remote
            name="cms">
            url="https://github.com/silverstripe/silverstripe-cms/zipball/2.4.5"
            type="zip"
        />
    </remotes>
</builda>